<a href="https://colab.research.google.com/github/AZhytnyk/DZ_DLA/blob/main/HW_3_4_apply%2C_groupby%2C_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
data_path = '/content/supermarket_sales.csv'

In [5]:
df = pd.read_csv(data_path)

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [10]:
profit_by_branch = df.groupby('Branch')['gross income'].sum()
profit_by_branch

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [11]:
# Знайдемо філіал з максимальним прибутком
most_profitable_branch = profit_by_branch.idxmax()
max_profit = profit_by_branch.max()
#.idxmax() — знаходить назву філіалу з найбільшим прибутком.
#.max() — повертає саме значення прибутку.
print(f"\nНайприбутковіший філіал: {most_profitable_branch} із сумарним прибутком {max_profit:.2f}")

Найприбутковіший філіал: C із сумарним прибутком 5265.18

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [13]:
# Для цього виберемо будь-який рядок, де Branch == top_branch і візьмемо значення City
city_of_top_branch = df[df['Branch'] == most_profitable_branch]['City'].iloc[0]
print(f"Найприбутковіший філіал: {most_profitable_branch}, розташований у місті {city_of_top_branch}")

Найприбутковіший філіал: C, розташований у місті Naypyitaw

**Відповідь на питання:** Якщо філіал у цьому місті справді генерує найбільше прибутку — розміщення додаткового магазину в тому ж місті може бути логічним кроком, особливо якщо місто велике або має попит на певні категорії товарів.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [16]:
# Створюємо зводну таблицю
invoices_by_category = df.pivot_table(
    index='Branch',     # категорії товарів
    columns='Product line',         # філії
    values='Invoice ID',      # можемо рахувати будь-яку колонку — беремо 'Invoice ID'
    aggfunc='count'           # рахуємо кількість інвойсів
)
pd.set_option('display.expand_frame_repr', False)
print(invoices_by_category)

Product line  Electronic accessories  Fashion accessories  Food and beverages  Health and beauty  Home and lifestyle  Sports and travel
Branch
A                                 60                   51                  58                 47                  65                 59
B                                 55                   62                  50                 53                  50                 62
C                                 55                   65                  66                 52                  45                 45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [17]:
# Отримуємо колонку "Electronic accessories" і знаходимо філіал з найбільшою кількістю
top_branch_electronics = invoices_by_category['Electronic accessories'].idxmax()
top_count = invoices_by_category['Electronic accessories'].max()
#idxmax() — повертає назву філіалу з найбільшим значенням.
#max() — повертає саме значення (кількість інвойсів).
print(f"Найбільше інвойсів з категорією 'Electronic accessories' у філіалі {top_branch_electronics}: {top_count} інвойсів.")

Найбільше інвойсів з категорією 'Electronic accessories' у філіалі A: 60 інвойсів.

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

**Крок 1**

**Гіпотеза** 1:
Чи є різниця в середньому розмірі чеку (Total) між чоловіками та жінками?

**Гіпотеза 2**:
Яка категорія товарів має найвищий середній рейтинг (Rating) і чи це співвідноситься з кількістю покупок?

**Гіпотеза 3**:
У які дні тижня здійснюють найбільше покупок, і чи співпадає це з днем найвищого прибутку (gross income)?

**Крок 2**

In [18]:
avg_total_by_gender = df.groupby('Gender')['Total'].mean()
print(avg_total_by_gender)

Gender
Female    335.095659
Male      310.789226
Name: Total, dtype: float64

In [19]:
rating_stats_by_category = df.groupby('Product line').agg({
    'Rating': 'mean',
    'Invoice ID': 'count'
}).rename(columns={'Invoice ID': 'Invoice count'})
print(rating_stats_by_category.sort_values('Rating', ascending=False))

                          Rating  Invoice count
Product line
Food and beverages      7.113218            174
Fashion accessories     7.029213            178
Health and beauty       7.003289            152
Electronic accessories  6.924706            170
Sports and travel       6.916265            166
Home and lifestyle      6.837500            160

In [20]:
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.day_name()

In [21]:
weekday_stats = df.groupby('Weekday').agg({
    'Invoice ID': 'count',
    'gross income': 'sum'
}).rename(columns={'Invoice ID': 'Invoice count'})
print(weekday_stats.sort_values('Invoice count', ascending=False))

           Invoice count  gross income
Weekday
Saturday             164     2672.4195
Tuesday              158     2451.5355
Wednesday            143     2082.4350
Friday               139     2091.7305
Thursday             138     2159.4880
Sunday               133     2117.0425
Monday               125     1804.7180

**Висновок по гіпотезі 1:**
Якщо, наприклад, жінки витрачають більше за один чек, це може бути підставою для запуску таргетованих акцій або бонусів для жіночої аудиторії з метою її утримання.

**Висновок по гіпотезі 2:**
Якщо певна товарна категорія має високий рейтинг, але мало покупок, можна просунути її через рекламу, промо-акції або розміщення в зоні підвищеної уваги в магазині.

**Висновок по гіпотезі 3:**
Знання найактивнішого дня тижня дозволяє оптимізувати розклад персоналу, запустити акції в менш активні дні, або розподілити запаси ефективніше, щоб уникати нестач і втрат.

In [23]:
df = pd.read_csv('/content/supermarket_sales.csv')
display(df.head())

    Invoice ID Branch       City Customer type  Gender            Product line  Unit price  Quantity   Tax 5%     Total       Date   Time      Payment    cogs  gross margin percentage  gross income  Rating
0  750-67-8428      A     Yangon        Member  Female       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  226-31-3081      C  Naypyitaw        Normal  Female  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  631-41-3108      A     Yangon        Normal    Male      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  123-19-1176      A     Yangon        Member    Male       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  373-73-7910      A     Yangon        Normal    Male       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019  10:37      Ewallet  604.17                 4.761905       30.2085     5.3