# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è: –í–Ω–µ—Å–µ–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω—å –≤ –ë–î —ñ —Ä–æ–±–æ—Ç–∞ –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—è–º–∏

–¶–µ –î–ó –ø–µ—Ä–µ–¥–±–∞—á–µ–Ω–µ –ø—ñ–¥ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –Ω–∞ –ª–æ–∫–∞–ª—å–Ω—ñ–π –º–∞—à–∏–Ω—ñ. –í–∏–∫–æ–Ω–∞–Ω–Ω—è –∑ Google Colab –±—É–¥–µ —Å—É—Ç—Ç—î–≤–æ —É—Å–∫–ª–∞–¥–Ω–µ–Ω–µ.

## –ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞
1. –ü–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ —É –≤–∞—Å –≤—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω—ã –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. –°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ–∞–π–ª `.env` –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –±–∞–∑–∏ –¥–∞–Ω–∏—Ö classicmodels. –ë–∞–∑—É –¥–∞–Ω–∏—Ö –≤–∏ –º–æ–∂–µ—Ç–µ –æ—Ç—Ä–∏–º–∞—Ç–∏ —á–µ—Ä–µ–∑

  - docker-–∫–æ–Ω—Ç–µ–π–Ω–µ—Ä –∑–≥—ñ–¥–Ω–æ —ñ—Å–Ω—Ç—Ä—É–∫—Ü—ñ—ó –≤ [–¥–æ–∫—É–º–µ–Ω—Ç—ñ](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), —Ç–∞–∫–æ–∂ –≤—ñ–¥–µ–æ —ñ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—ó –ø—Ä–∏—Å—É—Ç–Ω—ñ –Ω–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ñ - —É—Ä–æ–∫–∏ "MySQL –±–∞–∑–∏, –∫–ª—ñ—î–Ω—Ç –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î, Docker —ñ ChatGPT –¥–ª—è –∑–∞–ø–∏—Ç—ñ–≤" —Ç–∞ "–Ø–∫ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Docker –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –±–∞–∑–∞–º–∏ –¥–∞–Ω–∏—Ö –±–µ–∑ —Ç–µ—Ä–º—ñ–Ω–∞–ª—É"
  - –∞–±–æ –≤—Å—Ç–∞–Ω–æ–≤–∏–≤—à–∏ –ª–æ–∫–∞–ª—å–Ω–æ —Ü—é –ë–î - –¥–ª—è —Ü—å–æ–≥–æ –ø–µ—Ä–µ–≥–ª—è–Ω—å—Ç–µ —É—Ä–æ–∫ "–û–ø—Ü—ñ–æ–Ω–∞–ª—å–Ω–æ. –í—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–Ω—è MySQL —Ç–∞  –ë–î –°lassicmodels –ª–æ–∫–∞–ª—å–Ω–æ".
  
  –ü—Ä–∏–∫–ª–∞–¥ `.env` —Ñ–∞–π–ª—É –º–∏ —Å—Ç–≤–æ—Ä—é–≤–∞–ª–∏ –≤ –ª–µ–∫—Ü—ñ—ó. –û—Å—å –π–æ–≥–æ –æ–±–æ–≤ º—è–∑–∫–æ–≤–µ –Ω–∞–ø–æ–≤–Ω–µ–Ω–Ω—è:
    ```
    DB_HOST=your_host
    DB_PORT=3306 –∞–±–æ 3307 - —Ç–æ–π, —è–∫–∏–π –í–∏ –Ω–∞–ª–∞—à—Ç—É–≤–∞–ª–∏
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  –Ø–∫—â–æ –≤–∏ —Å—Ç–≤–æ—Ä–∏–ª–∏ —Ü–µ–π —Ñ–∞–π–ª –ø—ñ–¥ —á–∞—Å –ø–µ—Ä–µ–≥–ª—è–¥—É –ª–µ–∫—Ü—ñ—ó - **–Ω–æ–≤–∏–π —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ –Ω–µ —Ç—Ä–µ–±–∞**. –ó–∞–º—ñ–Ω—ñ—Ç—å –ª–∏—à–µ –Ω–∞–∑–≤—É –ë–î, –∞–±–æ –ø—Ä–æ–ø–∏—à—ñ—Ç—å –Ω–∞–∑–≤—É –≤ –∫–æ–¥—ñ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è (–∑–∞–º—ñ—Å—Ç—å –æ—Ç—Ä–∏–º–∞–Ω–Ω—è –Ω–∞–∑–≤–∏ —Ü—ñ–ª—å–æ–≤–æ—ó –ë–î –∑—ñ –∑–º—ñ–Ω–Ω–∏—Ö –æ—Ç–æ—á–µ–Ω–Ω—è). –ê–ª–µ –ø–µ—Ä–µ–∫–æ–Ω–∞–π—Ç–µ—Å—å, —â–æ –¥–æ `.env` —Ñ–∞–π–ª –ª–µ–∂–∏—Ç—å –≤ —Ç—ñ–π —Å–∞–º—ñ–π –ø–∞–ø—Ü—ñ, —â–æ —ñ —Ü–µ–π –Ω–æ—É—Ç–±—É–∫.

  **–£–í–ê–ì–ê!** –ù–ï –∫–æ–ø—ñ—é–π—Ç–µ —Å–∫—Ä–∏—Ç –¥–ª—è **—Å—Ç–≤–æ—Ä–µ–Ω–Ω—è** `.env` —Ñ–∞–π–ª—É. –í –ª–µ–∫—Ü—ñ—ó –≤—ñ–Ω –Ω–∞–≤–æ–¥–∏—Ç—å—Å—è –¥–ª—è –ø—Ä–∏–∫–ª–∞–¥—É. –Ü –¥–∞–≤–∞–ª–æ—Å—å –ø–æ—è—Å–Ω–µ–Ω–Ω—è, —â–æ –≤ —Ä–µ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ—î–∫—Ç–∞—Ö –º–∏ –ù–Ü–ö–û–õ–ò –Ω–µ –ø–∏—à–µ–º–æ –¥–æ—Å—Ç—É–ø–∏ –¥–æ –±–∞–∑–∏ –≤ –∫–æ–¥—ñ. –ö–æ–ø—ñ—é–≤–∞–Ω–Ω—è —Å–∫—Ä–∏–ø—Ç–∞ –¥–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è `.env` —Ñ–∞–π–ª—É —Å—é–¥–∏ –≤ –î–ó –±—É–¥–µ –≤–≤–∞–∂–∞—Ç–∏—Å—å –≥—Ä—É–±–æ—é –ø–æ–º–∏–ª–∫–æ—é —ñ –º–∏ –∑–Ω—ñ–º–∞—Ç–∏–º–µ–º–æ –±–∞–ª–∏.

3. –ù–∞–ª–∞—à—Ç—É–π—Ç–µ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy –¥–æ –ë–î –∑–∞ –ø—Ä–∏–∫–ª–∞–¥–æ–º –≤ –ª–µ–∫—Ü—ñ—ó.

–†–µ–∫–æ–º–µ–Ω–¥—É—é –≤–∏–≤–µ—Å—Ç–∏ (–≤—ñ–¥–æ–±—Ä–∞–∑–∏—Ç–∏) –∑–º—ñ–Ω–Ω—É engine –ø—ñ—Å–ª—è —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è. –í–æ–Ω–∞ –º–∞—î –±—É—Ç–∏ –Ω–µ None! –Ø–∫—â–æ None - –∑–Ω–∞—á–∏—Ç—å —É –í–∞—Å –Ω–µ –ø—ñ–¥—Ç—è–≥–Ω—É–ª–∏—Å—å –Ω–∞–ª–∞—à—Ç—É–≤–∞–Ω–Ω—è –∑ .env —Ñ–∞–π–ª–∞.

–í–∏ —Ç–∞–∫–æ–∂ –º–æ–∂–µ—Ç–µ –Ω–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î –±–µ–∑ .env —Ñ–∞–π–ª–∞, –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ø–∏—Å–∞–≤—à–∏ —Ç–µ–∫—Å—Ç–æ–º –≤ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏—Ö –º—ñ—Å—Ü—è—Ö. –¶–µ - –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞–Ω–∏–π –ø—ñ–¥—Ö—ñ–¥.


## –ó–∞–≤–¥–∞–Ω–Ω—è

### –ó–∞–≤–¥–∞–Ω–Ω—è 1: –û–Ω–æ–≤–ª–µ–Ω–Ω—è —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –ø—Ä–æ –∫–ª—ñ—î–Ω—Ç–∞ (2 –±–∞–ª–∏)

**–°—Ç–≤–æ—Ä—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –∫–æ–Ω—Ç–∞–∫—Ç–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –∫–ª—ñ—î–Ω—Ç–∞** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –º–æ–∂–ª–∏–≤–æ—Å—Ç—è–º–∏:
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è —Ç–µ–ª–µ—Ñ–æ–Ω—É –∫–ª—ñ—î–Ω—Ç–∞
- –û–Ω–æ–≤–ª–µ–Ω–Ω—è email (—è–∫—â–æ –ø–æ–ª–µ —ñ—Å–Ω—É—î)
- –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω –≤ –æ–∫—Ä–µ–º—É —Ç–∞–±–ª–∏—Ü—é

–í–∏–∫–æ—Ä–∏—Å—Ç–∞–π—Ç–µ –ø—ñ–¥—Ö—ñ–¥ –∑ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–∏–º–∏ –∑–∞–ø–∏—Ç–∞–º–∏ —á–µ—Ä–µ–∑ `text()` —Ç–∞ `UPDATE` –æ–ø–µ—Ä–∞—Ç–æ—Ä.

–ó–∞–ø—É—Å—Ç—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —ó—ó —Ä–æ–±–æ—Ç—É, –∑–∞–ø—É—Å—Ç–∏–≤—à–∏ SELECT, —è–∫–∏–π –¥–æ–ø–æ–º–æ–∂–µ —Ü–µ –∑—Ä–æ–±–∏—Ç–∏.

In [1]:
# –í—Å—Ç–∞–Ω–æ–≤–ª—é—î–º–æ —Å—É—á–∞—Å–Ω–∏–π —Å—Ç–µ–∫ –¥–ª—è —Ä–æ–±–æ—Ç–∏ –∑ –ë–î
!pip install sqlalchemy pymysql openpyxl requests python-dotenv --quiet

In [2]:
!pip install pandas --quiet

In [3]:
import pandas as pd

In [4]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker

# import warnings
# warnings.filterwarnings('ignore')

In [5]:
import os
from dotenv import load_dotenv

# –í–∫–∞–∑—É—î–º–æ —à–ª—è—Ö –¥–æ .env —è–≤–Ω–æ
load_dotenv(dotenv_path="C:/Users/PC User/my_project/.env")

# –ü–µ—Ä–µ–≤—ñ—Ä–∏–º–æ, —á–∏ –∑—á–∏—Ç–∞–ª–æ—Å—å
print("USER:", os.getenv('DB_USER'))
print("PASS:", os.getenv('DB_PASSWORD'))
print("DB:", os.getenv('DB_NAME'))

USER: root
PASS: root
DB: classicmodels

In [6]:
load_dotenv()
print("USER:", os.getenv('DB_USER'))
print("PASS:", os.getenv('DB_PASSWORD'))
print("DB:", os.getenv('DB_NAME'))

USER: root
PASS: root
DB: classicmodels

In [7]:
def create_connection():
    """
    –°—Ç–≤–æ—Ä—é—î –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è —á–µ—Ä–µ–∑ SQLAlchemy
    """
    # –ó–∞–≤–∞–Ω—Ç–∞–∂—É—î–º–æ –∑–º—ñ–Ω–Ω—ñ —Å–µ—Ä–µ–¥–æ–≤–∏—â–∞
    load_dotenv()

    # –û—Ç—Ä–∏–º—É—î–º–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –∑ environment variables
    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("–ù–µ –≤—Å—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –ë–î –∑–∞–¥–∞–Ω—ñ –≤ .env —Ñ–∞–π–ª—ñ!")

    # –°—Ç–≤–æ—Ä—é—î–º–æ connection string
    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    # –°—Ç–≤–æ—Ä—é—î–º–æ engine –∑ connection pooling
    engine = create_engine(
        connection_string,
        pool_size=2,           # –†–æ–∑–º—ñ—Ä –ø—É–ª—É –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        max_overflow=20,        # –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –¥–æ–¥–∞—Ç–∫–æ–≤–∏—Ö –ø—ñ–¥–∫–ª—é—á–µ–Ω—å
        pool_pre_ping=True,     # –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –ø–µ—Ä–µ–¥ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º
        echo=False              # –õ–æ–≥—É–≤–∞–Ω–Ω—è SQL –∑–∞–ø–∏—Ç—ñ–≤ (True –¥–ª—è debug)
    )

    # –¢–µ—Å—Ç—É—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()

        print("‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!")
        print(f"üîó {user}@{host}:{port}/{database}")
        print(f"‚ö° Engine: {engine}")

        return engine

    except Exception as e:
        print(f"‚ùå –ü–æ–º–∏–ª–∫–∞ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è: {e}")
        return None

# –°—Ç–≤–æ—Ä—é—î–º–æ –ø—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è
engine = create_connection()

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

In [9]:
from sqlalchemy import text
from datetime import datetime
import pandas as pd

def update_customer_contact(engine, customer_number, new_phone=None, new_email=None):
    """
    –û–Ω–æ–≤–ª—é—î —Ç–µ–ª–µ—Ñ–æ–Ω —ñ/–∞–±–æ email –∫–ª—ñ—î–Ω—Ç–∞ (—è–∫—â–æ –ø–æ–ª–µ email —ñ—Å–Ω—É—î).
    –õ–æ–≥—É—î –∑–º—ñ–Ω–∏ –≤ customer_contact_log.
    –ü–æ–≤–µ—Ä—Ç–∞—î –æ–Ω–æ–≤–ª–µ–Ω–∏–π –∑–∞–ø–∏—Å –∫–ª—ñ—î–Ω—Ç–∞ —Ç–∞ –æ—Å—Ç–∞–Ω–Ω—ñ–π –∑–∞–ø–∏—Å —ñ–∑ –ª–æ–≥—É.
    """
    
    with engine.connect() as conn:
        # 1. –°—Ç–≤–æ—Ä–µ–Ω–Ω—è —Ç–∞–±–ª–∏—Ü—ñ –ª–æ–≥—ñ–≤, —è–∫—â–æ —â–µ –Ω–µ —ñ—Å–Ω—É—î
        conn.execute(text("""
            CREATE TABLE IF NOT EXISTS customer_contact_log (
                log_id INT AUTO_INCREMENT PRIMARY KEY,
                customerNumber INT NOT NULL,
                old_phone VARCHAR(50),
                new_phone VARCHAR(50),
                old_email VARCHAR(100),
                new_email VARCHAR(100),
                change_date DATETIME NOT NULL
            )
        """))
        conn.commit()

        # 2. –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ –∫–æ–ª–æ–Ω–∫–∏ email —É —Ç–∞–±–ª–∏—Ü—ñ customers
        email_exists = conn.execute(
            text("""
                SELECT COUNT(*) 
                FROM INFORMATION_SCHEMA.COLUMNS 
                WHERE table_name = 'customers' AND column_name = 'email'
            """)
        ).scalar() > 0

        # 3. –û—Ç—Ä–∏–º–∞–Ω–Ω—è –ø–æ—Ç–æ—á–Ω–∏—Ö –¥–∞–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–∞
        select_fields = "phone" + (", email" if email_exists else "")
        current = conn.execute(
            text(f"""
                SELECT {select_fields}
                FROM customers
                WHERE customerNumber = :customerNumber
            """), {"customerNumber": customer_number}
        ).fetchone()

        if not current:
            print(f"–ö–ª—ñ—î–Ω—Ç {customer_number} –Ω–µ –∑–Ω–∞–π–¥–µ–Ω–∏–π.")
            return None, None
        
        if email_exists:
            old_phone, old_email = current
        else:
            old_phone, old_email = current[0], None

        # 4. –§–æ—Ä–º—É–≤–∞–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è
        update_fields = []
        params = {"customerNumber": customer_number}
        
        if new_phone is not None:
            update_fields.append("phone = :phone")
            params["phone"] = new_phone
        if new_email is not None and email_exists:
            update_fields.append("email = :email")
            params["email"] = new_email
        
        if not update_fields:
            print("–ù–µ–º–∞—î –ø–æ–ª—ñ–≤ –¥–ª—è –æ–Ω–æ–≤–ª–µ–Ω–Ω—è.")
            return None, None

        # 5. –û–Ω–æ–≤–ª–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–∞
        update_query = f"""
            UPDATE customers
            SET {', '.join(update_fields)}
            WHERE customerNumber = :customerNumber
        """
        conn.execute(text(update_query), params)

        # 6. –õ–æ–≥—É–≤–∞–Ω–Ω—è –∑–º—ñ–Ω
        conn.execute(
            text("""
                INSERT INTO customer_contact_log
                    (customerNumber, old_phone, new_phone, old_email, new_email, change_date)
                VALUES
                    (:customerNumber, :old_phone, :new_phone, :old_email, :new_email, :change_date)
            """), {
                "customerNumber": customer_number,
                "old_phone": old_phone,
                "new_phone": new_phone if new_phone else old_phone,
                "old_email": old_email,
                "new_email": new_email if new_email else old_email,
                "change_date": datetime.now()
            }
        )

        conn.commit()

        # 7. –û—Ç—Ä–∏–º–∞–Ω–Ω—è –æ–Ω–æ–≤–ª–µ–Ω–æ–≥–æ –∑–∞–ø–∏—Å—É –∫–ª—ñ—î–Ω—Ç–∞
        df_updated = pd.read_sql(
            f"SELECT customerNumber, customerName, phone{', email' if email_exists else ''} FROM customers WHERE customerNumber = {customer_number}",
            conn
        )

        # 8. –û—Ç—Ä–∏–º–∞–Ω–Ω—è –æ—Å—Ç–∞–Ω–Ω—å–æ–≥–æ –∑–∞–ø–∏—Å—É –∑ –ª–æ–≥—ñ–≤
        df_log = pd.read_sql(
            "SELECT * FROM customer_contact_log ORDER BY log_id DESC LIMIT 1",
            conn
        )

    return df_updated, df_log

In [10]:
updated_customer, last_log = update_customer_contact(
    engine,
    customer_number=103,
    new_phone="222-333-444",
    new_email="new@example.com"
)

print("–û–Ω–æ–≤–ª–µ–Ω–∏–π –∫–ª—ñ—î–Ω—Ç:")
display(updated_customer)

print("–õ–æ–≥ –∑–º—ñ–Ω:")
display(last_log)

–û–Ω–æ–≤–ª–µ–Ω–∏–π –∫–ª—ñ—î–Ω—Ç:

   customerNumber       customerName        phone
0             103  Atelier graphique  222-333-444

–õ–æ–≥ –∑–º—ñ–Ω:

,log_id,customerNumber,old_phone,new_phone,old_email,new_email,change_date
0,1,103,40.32.2555,222-333-444,None,new@example.com,2025-08-09 15:19:26

In [11]:
updated_customer, last_log = update_customer_contact(
    engine,
    customer_number=496,
    new_phone="555-666-777",
    new_email="new.new@example.com"
)

print("–û–Ω–æ–≤–ª–µ–Ω–∏–π –∫–ª—ñ—î–Ω—Ç:")
display(updated_customer)

print("–õ–æ–≥ –∑–º—ñ–Ω:")
display(last_log)

–û–Ω–æ–≤–ª–µ–Ω–∏–π –∫–ª—ñ—î–Ω—Ç:

   customerNumber       customerName        phone
0             496  Kelly's Gift Shop  555-666-777

–õ–æ–≥ –∑–º—ñ–Ω:

,log_id,customerNumber,old_phone,new_phone,old_email,new_email,change_date
0,2,496,+64 9 5555500,555-666-777,None,new.new@example.com,2025-08-09 15:22:01

### –ó–∞–≤–¥–∞–Ω–Ω—è 2: –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è –∑ —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—î—é (5 –±–∞–ª—ñ–≤)

**–†–µ–∞–ª—ñ–∑—É–π—Ç–µ –ø—Ä–æ—Ü–µ—Å —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ–≥–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è** –∑ –Ω–∞—Å—Ç—É–ø–Ω–∏–º–∏ –∫—Ä–æ–∫–∞–º–∏ –≤ –æ–¥–Ω—ñ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü—ñ—ó:
- –°—Ç–≤–æ—Ä–µ–Ω–Ω—è –∑–∞–ø–∏—Å—É –≤ —Ç–∞–±–ª–∏—Ü—ñ `orders`
- –î–æ–¥–∞–≤–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä–Ω–∏—Ö –ø–æ–∑–∏—Ü—ñ–π –≤ `orderdetails`
- –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –Ω–∞—è–≤–Ω–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ
- –ó–º–µ–Ω—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –Ω–∞ —Å–∫–ª–∞–¥—ñ

–ó–∞–ø—É—Å—Ç—ñ—Ç—å –ø—Ä–æ—Ü–µ—Å –∑ —Ç–µ—Å—Ç–æ–≤–∏–º–∏ –¥–∞–Ω–∏–º–∏ —ñ –ø—Ä–æ–¥–µ–º–æ–Ω—Å—Ç—Ä—É–π—Ç–µ —á–µ—Ä–µ–∑ SELECT, —â–æ –ø—Ä–æ—Ü–µ—Å —É—Å–ø—ñ—à–Ω–æ –≤—ñ–¥–ø—Ä–∞—Ü—é–≤–∞–≤ —ñ –±—É–ª–∏ –≤–∏–∫–æ–Ω–∞–Ω—ñ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ –æ–ø–µ—Ä–∞—Ü—ñ—ó.

In [16]:
engine = create_connection()  # –æ—Ç—Ä–∏–º—É—î–º–æ engine

with engine.connect() as connection:
    create_order_with_items(connection, customer_number=103, order_items=order_items_test)
    
    # –¢—É—Ç –∂–µ –º–æ–∂–Ω–∞ –∑—Ä–æ–±–∏—Ç–∏ SELECT –¥–ª—è –ø–µ—Ä–µ–≤—ñ—Ä–∫–∏
    result = connection.execute(text("""
        SELECT o.orderNumber, o.orderDate, o.status, od.productCode, od.quantityOrdered
        FROM orders o
        JOIN orderdetails od ON o.orderNumber = od.orderNumber
        WHERE o.customerNumber = :cust
        ORDER BY o.orderNumber DESC
    """), {"cust": 103}).fetchall()

    for row in result:
        print(row)

‚úÖ –ü—ñ–¥–∫–ª—é—á–µ–Ω–Ω—è –¥–æ –ë–î —É—Å–ø—ñ—à–Ω–µ!
üîó root@127.0.0.1:3306/classicmodels
‚ö° Engine: Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)
–ó–∞–º–æ–≤–ª–µ–Ω–Ω—è 10426 —É—Å–ø—ñ—à–Ω–æ —Å—Ç–≤–æ—Ä–µ–Ω–æ!
(10426, datetime.date(2025, 8, 9), 'In Process', 'S10_1678', 2)
(10426, datetime.date(2025, 8, 9), 'In Process', 'S12_1099', 1)
(10345, datetime.date(2004, 11, 25), 'Shipped', 'S24_2022', 43)
(10298, datetime.date(2004, 9, 27), 'Shipped', 'S10_2016', 39)
(10298, datetime.date(2004, 9, 27), 'Shipped', 'S18_2625', 32)
(10123, datetime.date(2003, 5, 20), 'Shipped', 'S18_1589', 26)
(10123, datetime.date(2003, 5, 20), 'Shipped', 'S18_2870', 46)
(10123, datetime.date(2003, 5, 20), 'Shipped', 'S18_3685', 34)
(10123, datetime.date(2003, 5, 20), 'Shipped', 'S24_1628', 50)